/* 
    Backend CSS
*/

@font-face { font-family: BebasNeue; local: BebasNeue; src: url(../fonts/BebasNeue-webfont.eot) format("embedded-opentype"), url(../fonts/BebasNeue-webfont.ttf) format("truetype"), url(../fonts/BebasNeue-webfont.woff) format("woff"), url(../fonts/BebasNeue-webfont.svg) format("svg") ; }
@font-face { font-family: Awesome; local: Awesome; src: url(../fonts/fontawesome-webfont.eot) format("embedded-opentype"), url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.svg) format("svg") ; }
@font-face { font-family: DroidSans; local: DroidSans; src: url(../fonts/DroidSans.eot) format("embedded-opentype"), url(../fonts/DroidSans.ttf) format("truetype"); }
@font-face { font-family: LinLibertine; local: LinLibertine; src: url(../fonts/LinLibertine_R.woff) format("woff"); }
@font-face { font-family: PoliticsHead; local: PoliticsHead; src: url(../fonts/PoliticsHeadv1_9.woff) format("woff"), url(../fonts/PoliticsHeadv1_9.ttf) format("truetype"); }


 #headimg {
            width: 350px;
	    height: 120px;
            background: no-repeat;
	    border: 0;
    }
    #custom-background-image {
	height: 225px;
	background-position: bottom left !important; 
	background-repeat: repeat-x, no-repeat;
    }
label.description {
    display: block;
}


p.submit {
    margin-top: 10px;
    padding-left: 20px;
}
.wrap div.updated {
    margin-right: 300px;                    
}
#einstellungen {
    margin-top: 20px;
}
#einstellungen div {
    margin-left: 10px;
}
#einstellungen table tr:hover,
#einstellungen table tr:focus {
    background-color: #eeeeee;
    -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; 
  transition: all 0.1s ease-in-out;
}
#einstellungen table th {
    text-align: left;   
    min-width: 200px;
}
#einstellungen table td {
    padding-bottom: 5px;
}
#einstellungen tr.mark-option {
    background-color: #f50;
    color: white;
}
#einstellungen tr.mark-option:focus, 
#einstellungen tr.mark-option:hover {
    background-color: #a62911;
}
#einstellungen table td table th {
    min-width: 50px;
}

#einstellungen input.regular-text {
    width: 40em;
}
#einstellungen select {
    min-width: 4em;
}
h2.nav-tab-wrapper, h3.nav-tab-wrapper {
    margin-top: 30px;
}

label.tile {
    width: 320px;
    height: auto;
    float: left;    
    padding: 0 2px;
    margin: 5px;
    border: 3px solid transparent;
}
label.tile:hover {
    background-color: #eee;
}
label.tile img {
    margin: 0;
    padding: 0;
}
label.checked, 
label.tile:hover, 
label.tile:focus { border-color: orange; background: orange;} 

label.plakattile {
    width: 160px;
    height: 250px;
    float: left;
    border: 1px solid #ccc;
    padding: 1px;
    margin: 5px;
}
label.plakattile:hover {
    background-color: #eee;
}

img.imgurl {
    display: block;
}
.previewimage img {
    max-width: 900px;
    height: auto;
}
#adminmenu .menu-icon-person div.wp-menu-image:before {
    content: "\f337";
}
#adminmenu .menu-icon-linktipps div.wp-menu-image:before {
    content: "\f319";
}
