/* 
    Document   : basemod_ymbuttons
    Created on : 09.05.2012, 11:20:55
    Author     : xwolf
    Description:
       Buttons und Symbolzeichen aus UTF;
       Teilweise uebernommen aus YAML
*/


.ym-add:before { content: "\271A"; }
.ym-delete:before { content: "\2718"; }
.ym-edit:before { content: "\270E"; }
.ym-email:before { content: "\2709"; }
.ym-like:before { content: "\2764"; }
.ym-next:before { content: "\279C"; }
.ym-play:before { content: "\25B6"; }
.ym-save:before { content: "\2714"; }
.ym-spark:before { content: "\2737"; }
.ym-star:before { content: "\2605"; }



.teaserlinks .symbol:before {
    font-size: 36px; 
    position: absolute;
    left: 10px;
    padding-top: 10px;
    text-align: center;
    width: 30px;
    text-shadow: 0 -1px 1px #c36800;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;     
}
.teaserlinks .symbol:hover:before {
    left: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;      
    transition: all 0.2s ease-in-out;    
}


.symbol-idee:before { content: "\0021"; }
.symbol-person:before { content: "\263A"; }
.symbol-herz:before { content: "\2665";   }
.symbol-email:before { content: "\2709"; }
.symbol-at:before { content: "\0040"; }
.symbol-check:before { content: "\2713"; }
.symbol-nocheck:before { content: "\2717"; }
.symbol-telefon:before { content: "\2706"; }
.symbol-anker:before { content: "\2693"; }
.symbol-skull:before { content: "\2620"; }
.symbol-female:before { content: "\2640"; }
.symbol-male:before { content: "\2642"; }
.symbol-malefemale:before { content: "\26A5"; }
.symbol-schreiben:before { content: "\270D"; }
.symbol-rollstuhl:before { content: "\267F"; }
.symbol-steuerrad:before { content: "\2638"; }
.symbol-musiknote:before { content: "\266B"; }
.symbol-paragraph:before { content: "\00A7"; }

.symbol-play:before { content: "\25B6"; }
.symbol-save:before { content: "\2714"; }
.symbol-spark:before { content: "\2737"; }
.symbol-star:before { content: "\2605"; }


.symbol-euro:before { content: "\20AC"; }
.symbol-dollar:before { content: "\0024"; }
.symbol-copyright:before { content: "\00A9"; }



.symbol-eins:before { content: "\2460"; }
.symbol-zwei:before { content: "\2461"; }
.symbol-drei:before { content: "\2462"; }
