/* 
    Document   : colors_ch
    Created on : 07.06.2015, 00:55
    Author     : xwolf
    Description:
       Define corporate design colors for the theme.
       Each pirate party in several countries use their own set of colors;
       Therefor all color-settings are outsourced in files in
       the form colors_LANG.css.

       Settings in the color files will override settings in the
       current basemods, which defines the default style (german colors).

       This is the Swiss color file.
       
       Base color: #F9B200  , rgba(76,37,130, 0.2); 
       Special text font: Aller
               

*/

@font-face {
    font-family: FontPiratenkleiderDefault;
    src: local(Aller),
        url(../fonts/aller_rg.eot) format("embedded-opentype"),
        url(../fonts/aller_rg.ttf) format("truetype");
        url(../fonts/aller_rg.woff) format("woff");
}
@font-face {
    font-family: FontPiratenkleiderHeadlines;
    src: local(Aller),
        url(../fonts/aller_rg.eot) format("embedded-opentype"),
        url(../fonts/aller_rg.ttf) format("truetype");
        url(../fonts/aller_rg.woff) format("woff");
}
@font-face {
    font-family: FontPiratenkleiderMenuHeadlines;
    src: local(Aller),
        url(../fonts/aller_rg.eot) format("embedded-opentype"),
        url(../fonts/aller_rg.ttf) format("truetype");
        url(../fonts/aller_rg.woff) format("woff");
}

@media screen, projection {
    body {
        background-image: url("../images/int/bg-tags-ch.png"); 
	background-color: #F9B200;
    }
    a {     
      color: #E86800;
      -webkit-tap-highlight-color: #E95E0F; 
    }
    a:visited {
        color: #E95E0F;
      }
    a:hover {
        color: #D8520F;
      }
    ins, mark {
        background-color: #F9B200;
    }
    ::selection {
      background: #E95E0F;
      color: white; 
    }

    ::-moz-selection {
      background: #E95E0F;
      color: white;
    }
    input, select, textarea {
      background: white;
      background: rgba(255, 255, 255, 0.6); 
    }
    input:focus, input:active, 
    select:focus, select:active, 
    textarea:focus, textarea:active {
        background: white; 
    }
    
    button, input[type="submit"], 
    .post-edit-link {
      background: #E95E0F;
      color: white;
      border: 1px solid #E95E0F;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
      border-top: 1px solid #F7C34A;
      border-bottom: 1px solid #CC6804;
      text-shadow: 0 -1px 0 #112e48;
      background-color: #E95E0F;
      background-image: -moz-linear-gradient(top, #E95E0F, #E87E45);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #E87E45));
      background-image: linear-gradient(top, #E95E0F, #E87E45); }

      button:hover, 
      input[type="submit"]:hover, 
      .post-edit-link:hover {
        background-color: #E95E0F;
        background-image: -moz-linear-gradient(top, #E95E0F, #CC6804);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #CC6804));
        background-image: linear-gradient(top, #E95E0F, #CC6804);
      }
   
  
     .skiplinks li a:focus, 
     .skiplinks li a:active {
        background: #E95E0F;
        color: white;
         }
     .skiplinks li a:hover {
        background: #F9B200;
        color: black; 
    }
    ul.socialmedia li a img {   
        border-color: #F28900;
    }
    ul.socialmedia li a:hover img {
         border-color: white;      
    }
    ul.socialmedia li a:focus img {
       border-color: #F9B200;    
    }    
    
.sticker ul li {  
    border-color: transparent;     
  }


  .sticker ul li a:hover,
  .sticker ul li a:focus {
    color: #CC6804; 
   } 
   
   .sticker ul li a .cicolor {        
     color: #F9B200;    
   }
  
   .sticker ul li a:hover .cicolor,
   .sticker ul li a:focus .cicolor {
        color: #E95E0F;  
   }
   
   .sticker ul li a .shadow {        
         text-shadow: 1px 1px 1px #7F4102; 
   }
  
 
    .sticker li a img {
        border-color: transparent;     
    }

    .sticker li a:hover img, 
    .sticker li a:focus img {
       border-color: #F9B200;
    }


    .header .newsletter .skin {
      background: #f7f7f7;
      background: rgba(255, 255, 255, 0.5);
    }


  .teaser .row {
    background: #E59C00;
    background: rgba(0, 0, 0, 0.2) -20% 0 fixed; 
  }
  .teaser .first-teaser-widget-area {
    background: #111;
 }
  .first-teaser-widget-area .slide .textslider  {
    background: #F9B200;
    color: #ddd;
  }
  .first-teaser-widget-area .slide .caption a {
    background: #E58400 none repeat scroll 0% 0%; 
  }
  
    .second-teaser-widget-area li {
      background: #F9B200;
    }


  .second-teaser-widget-area li a {
    color: white;  
    text-shadow: 0 0 0; 

  }
    .second-teaser-widget-area li a div {
      color: black;
      text-shadow: 0 -1px 1px #552554;

    }
   

  .second-teaser-widget-area li a:focus,  
  .second-teaser-widget-area li a:hover {    
        background: #E59C00;
        background: rgba(0, 0, 0, 0.5);  
        color: white;
  }
  
  .second-teaser-widget-area .textwidget {      
        background: #F9B200;
        color: white; 
        text-shadow: 0 0 0; 
  }
   .second-teaser-widget-area li.recentcomments {
       color: white;
   }

.teaserlinks ul li {
    background-color: #E58400;
	color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 
  }
  .teaserlinks .symbol:before {
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2); 
  } 
 .teaserlinks ul li a {
     color: #EEE;
     text-shadow: 0 -1px 1px #552554;
 }
  .teaserlinks ul li a:hover,
  .teaserlinks ul li a:focus{
      color: white;
      background: none repeat scroll 0 0 #DC7204;
  }
  .teaserlinks ul li a span {
     text-shadow: 0 0 0; 
	 color: #EEE;
  }
    .teaserlinks ul li a:hover span,
    .teaserlinks ul li a:focus span { 
           color: white;
     }    

    .content .row {
        background: rgba(249, 178, 0, 0.2); 
    }
    .caldera-form-page .row {
	width: 100%;
    }
    .single {
        width: 100%;
    }

    .content .symbolbild .caption {
      background: rgba(0, 0, 0, 0.5);
      color: white;

    }
    .content .symbolbild .aaarh {
         background: transparent;
         color: black;
    }
    .content-header-big {
	  background: url(../images/int/bg-tags-at.png);
    }
    
  .content-primary input[type="text"]:hover, 
  .content-primary textarea:hover,
  .content-primary input[type="text"]:focus, 
  .content-primary textarea:focus {
    border-color: black; 
    background-color: beige;
  }

      .content-primary .sprungmarken ol li a:hover {
          background: #F9B200;
          color: black;
        }
  .content-aside .newsletter {     
    background-color: #ffa500;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 } 

  .post .post-info .commentbubble a {
      background: #F9B200;
      color: white;
 }
  .post .post-info .cal-icon {
    background: #eeeeee;
    -moz-box-shadow: 1px 1px 2px #444444;
    -webkit-box-shadow: 1px 1px 2px #444444;
    box-shadow: 1px 1px 2px #444444; 
  }


    .post .post-meta {
         color: #222;
    }
    .post-comments ol li .reply a {
        background: #E95E0F;
        color: white;
        border-color: #E95E0F;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
        text-shadow: 0 -1px 0 #112e48;
        background-color: #E95E0F;
        background-image: -moz-linear-gradient(top, #E95E0F, #E87E45);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #E87E45));
        background-image: linear-gradient(top, #E95E0F, #E87E45); 
    }
    .post-comments ol li .reply a:hover {
        background-color: #E95E0F;
        background-image: -moz-linear-gradient(top, #E95E0F, #CC6804);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #CC6804));
        background-image: linear-gradient(top, #E95E0F, #CC6804);
    }

    .post-comments .respond span.required {
         color: #F9B200;
    }
  .wp-caption  p.wp-caption-text { 
      background: transparent;
      background: rgba(0, 0, 0, 0.5);
      color: white;
    }
    
     .gallery img {
	border-color: #f1f1f1;
    }
    .gallery img:hover {
            border-color: #F9B200;
    }
     .gallery-caption {
            color: #888;
    }

 
     .first-startpage-widget-area a.all-articles {
        background: #E95E0F;
        color: white;
        border-color: #E95E0F;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
        border-top-color: #F7C34A;
        border-bottom-color: #CC6804;
        text-shadow: 0 -1px 0 #112e48;
        background-color: #E95E0F;
        background-image: -moz-linear-gradient(top, #E95E0F, #E87E45);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #E87E45));
        background-image: linear-gradient(top, #E95E0F, #E87E45);
     }
    .first-startpage-widget-area a.all-articles:hover {
      background-color: #E95E0F;
      background-image: -moz-linear-gradient(top, #E95E0F, #CC6804);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #CC6804));
      background-image: linear-gradient(top, #E95E0F, #CC6804);
 }
 
.content-aside .newsletter {
	background: none repeat scroll 0 0 rgba(216, 122, 0, 0.5);
	box-shadow:none;
}


.content-aside .widget li {
	 background:none;
 }
.content-aside .widget li:hover {
	 background: #F2A900;
 }
.content-aside .widget li:hover,
 .content-aside .widget li:focus,
#ics-calendar-widget li:hover, 
#ics-calendar-widget li:focus, 
 .content-aside .twitterwidget li:hover, 
 .content-aside .twitterwidget li:focus {
     background: #F2A900;
 }
 .content-aside .twitterwidget li a:hover { color:#FFF; }
 .content-aside a {
  color: #D89700;
  background: rgba(255,255,255, 0.2);
  padding:0.25em 0.4em;
}
  .content-aside a:hover {
    color: rgba(249, 178, 0, 0.8);
    background: rgba(255,255,255, 0.8); 
  }
  .content-aside #steckbrief a {
  background: transparent;
}
.content-aside #steckbrief a:hover {
    background: transparent;
  }
  .content-aside table td,
  .content-aside table th {
    border-top-color: #F9B200; 
  }
.content-aside blockquote {
  border: 0 solid;
  background: #E59C00;
  background: rgba(255, 255, 255, 0.2); 
 }
  
 ^
 .content-aside ul.menu {
  background: #E59C00;
 background: rgba(255, 255, 255, 0.2); 
}

.content-aside ul.menu li a {

      background: white;
      color: #E95E0F;
 }
.content-aside ul.menu li.active a,
.content-aside ul.menu li a:hover,
.content-aside ul.menu li a:focus {
        color: white;
        background: #E95E0F; 
}
      
.content-aside ul.menu li.current_page_item > a,
.content-aside ul.menu li.current-menu-item > a {
    background: #E95E0F url("../images/plus-left.gif") center left no-repeat;
    color: white;
}


.subcontent {
  background: black url("../images/int/bg-tags_gray.jpg") -20% top fixed;
}
  .subcontent .row {
    background: rgba(0, 0, 0, 0.2);
    color: #eeeeee;
  }

  .subcontent a {
    background: black;
    color: #E95E0F;
 }
    .subcontent a:hover {
      background: #E95E0F;
      color: white;
 }


    
    
    
.footer {
  background: black url("../images/int/bg-tags_gray.jpg") -20% top fixed;
  overflow: hidden; 
}
.footer .row {
    background: rgba(0, 0, 0, 0.2);
    color: #eeeeee;
}

.footer a {
  background: black;
  color: #E95E0F; 
}

.footer a:hover {
  background: #E95E0F;
  color: white;
}
 .content-aside .widget li a.rsswidget {
    background: #E59C00;
    background: rgba(0, 0, 0, 0.2);
 }
 .content-aside .widget li a.rsswidget:hover,
 .content-aside .widget li a.rsswidget:focus {
       background: #F9B200;
 }
 .content-aside .widget li .rssSummary {
    color:#333333;  
 }

#ics-calendar-widget li {
    color: black;
    background: #E59C00;
    background: rgba(255, 255, 255, 0.2);
 }

#ics-calendar-widget-next, 
#ics-calendar-widget-prev {
  background: #E95E0F;
  color: white;
  border-color: #E95E0F;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  border-top-color: #F7C34A;
  border-bottom-color: #CC6804;

  text-shadow: 0 -1px 0 #112e48;
  background-color: #E95E0F;
  background-image: -moz-linear-gradient(top, #E95E0F, #E87E45);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #E87E45));
  background-image: linear-gradient(top, #E95E0F, #E87E45); }
#ics-calendar-widget-next:hover, 
#ics-calendar-widget-prev:hover {
    background-color: #E95E0F;
    background-image: -moz-linear-gradient(top, #E95E0F, #CC6804);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #CC6804));
    background-image: linear-gradient(top, #E95E0F, #CC6804);
}


 .ics-calendar-header a {
    background: #E95E0F;
    color: white;
    border-color: #E95E0F;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
    border-top-color: #F7C34A;
    border-bottom-color: #CC6804;
    text-shadow: 0 -1px 0 #112e48;
    background-color: #E95E0F;
    background-image: -moz-linear-gradient(top, #E95E0F, #E87E45);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #E87E45));
    background-image: linear-gradient(top, #E95E0F, #E87E45); }
  .ics-calendar-header a:hover {
      background-color: #E95E0F;
      background-image: -moz-linear-gradient(top, #E95E0F, #CC6804);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E95E0F), color-stop(1, #CC6804));
      background-image: linear-gradient(top, #E95E0F, #CC6804);
   }

div.ics-calendar-holder tr.ics-calendar-days td {
  background: #eeeeee;
  border-bottom-color: gray; }

div.ics-calendar-holder .ics-calendar-table td .date-holder {
  background: white; 
}
div.ics-calendar-holder .ics-calendar-table td .old-date-holder {
  background: white;
  color: #999999;
}
div.ics-calendar-holder .ics-calendar-table td .ics-calendar-today {
  background-color: #F9B200;
  color: black;
}
div.ics-calendar-holder .ics-calendar-event {
  background: #E95E0F;
  color: white;
}

  .nav-top div.menu-header ul.menu li a:hover,
  .nav-top div.menu-header ul.menu li a:focus {
        color: #E95E0F; 
  }        

   
}


  .nav-main ul.menu li a:hover,
  .nav-main ul.menu li a.hover{
    color: #DC7204;
  }

  .nav-main ul.menu li ul.sub-menu li a:hover,
  .nav-main ul.menu li ul.sub-menu li a.focus {
    background-color: #DC7204;
  }

.nav-main ul.menu li.current-menu-item > a,
.nav-main ul.menu li.current-page-item > a {
   background: black;
   color: white;
   background-color: black;
   background-image: -moz-linear-gradient(top, #A0A0A0, black);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0A0A0), color-stop(1, black));
   background-image: linear-gradient(top, #A0A0A0, black);
}

.nav-main ul.menu li.current-menu-item  > a,
.nav-main ul.menu li.current-page-ancestor  > a,
.nav-main ul.menu li.current-menu-ancestor > a {
   background: black;
   color: white;
   background-color: black;
   background-image: -moz-linear-gradient(top, #A0A0A0, black);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0A0A0), color-stop(1, black));
   background-image: linear-gradient(top, #A0A0A0, black);
}


 @media only screen and (max-width: 800px) { 

  .nav-main ul.menu li {
    border-color: black;
    border-top-color: black;
    border-bottom-color: black;
    background-color: white;
    background-image: -moz-linear-gradient(top, #111111, #FFFFFF);
  }   
 
  .nav-main ul.menu li a {
    background: #F9B200;
    color: white;
    border: 1px solid black;
    background-color: #F9B200;
    background-image: -moz-linear-gradient(top, #F9B200, #E58400);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9B200), color-stop(1, #E58400));
    background-image: linear-gradient(top, #F9B200, #E58400);
 }
 
.nav-main ul.menu li a:focus,
 .nav-main ul.menu li a:hover {
    background: #E58400;
    color: black; 
    background-color: #E58400;
    background-image: -moz-linear-gradient(top, #E58400, #F9B200);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E58400), color-stop(1, #F9B200));
    background-image: linear-gradient(top, #E58400, #F9B200);
  } 

  .nav-main ul.menu li.current-menu-item > a:hover,
  .nav-main ul.menu li.current-page-item > a:hover {
    background: #A0A0A0;
    color: white;
    background-color: #A0A0A0;
    background-image: -moz-linear-gradient(top, black, #A0A0A0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0A0A0), color-stop(1, black));
    background-image: linear-gradient(top, #A0A0A0, black);
  }

  .nav-main ul.menu li.current-menu-item  > a:hover,
  .nav-main ul.menu li.current-page-ancestor  > a:hover,
  .nav-main ul.menu li.current-menu-ancestor > a:hover {
    background: #A0A0A0;
    color: white;
    background-color: #A0A0A0;
    background-image: -moz-linear-gradient(top, black, #A0A0A0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0A0A0), color-stop(1, black));
    background-image: linear-gradient(top, #A0A0A0, black);
  }

  .post-comments {
     background: url("../images/int/bg-tags-ch.png") repeat fixed -20% top #F9B200;
  }
  .post-comments a {
      color: black;
  }
  .post-comments ol li {
      border-color: rgba(0, 0, 0, 0.2);
  }
   .post-comments ol li .comment-details {
    color: #222222;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
 }
 .post-comments ol li .comment-body {
    background: white; 
 }

 .skiplinks li a {
    background: #F9B200;
    color: white;
    border: 1px solid black;
    background-color: #F9B200;
    background-image: -moz-linear-gradient(top, #F9B200, #E58400);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9B200), color-stop(1, #E58400));
    background-image: linear-gradient(top, #F9B200, #E58400);
 }
 .skiplinks li a:focus,
 .skiplinks li a:hover {
    background: #E58400;
    color: black; 
    background-color: #E58400;
    background-image: -moz-linear-gradient(top, #E58400, #F9B200);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E58400), color-stop(1, #F9B200));
    background-image: linear-gradient(top, #E58400, #F9B200);
  }

