/* 
    Document   : colors_tk
    Created on : 16.05.2012, 11:56:08
    Author     : xwolf
    Description:
       Define corporate design colors for the theme.
       Each pirate party in several countries use their own set of colors;
       Therefor all color-settings are outsourced in files in
       the form colors_LANG.css.

       Settings in the color files will override settings in the
       current basemods, which defines the default style (german colors).

       This is the turkey color file.
       
       Base color: #00B5B1 (rgb: 0, 181, 177)
       Special text font: Bebas Neue
        
       NOTICE: This font must be replaced by another font, cause Bebas
          does not contain all need chars. Please inform 
          at piratenkleider@xwolf.de  about a possible and useful
          font that can be used here.  

*/

@media screen, projection {
    
    body {
        background: #00B5B1 url("../images/int/bg-tags-tk.png") -20% top fixed; 
    }
    a {     
      color: #06C;
      -webkit-tap-highlight-color: #2d7dc5; 
    }
    a:visited {
        color: #2d7dc5;
      }
    a:hover {
        color: #111;
      }
    ins, mark {
        background-color: #00B5B1;
    }
    ::selection {
      background: #2d7dc5;
      color: white; 
    }

    ::-moz-selection {
      background: #2d7dc5;
      color: white;
    }
    input, select, textarea {
      background: white;
      background: rgba(255, 255, 255, 0.6); 
    }
    input:focus, input:active, 
    select:focus, select:active, 
    textarea:focus, textarea:active {
        background: white; 
    }
    
    button, input[type="submit"], 
    .post-edit-link {
      background: #2d7dc5;
      color: white;
      border: 1px solid #2d7dc5;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
      border-top: 1px solid #4e96d7;
      border-bottom: 1px solid #1a4872;
      text-shadow: 0 -1px 0 #112e48;
      background-color: #2d7dc5;
      background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
      background-image: linear-gradient(top, #2d7dc5, #24639b); }

      button:hover, 
      input[type="submit"]:hover, 
      .post-edit-link:hover {
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
        background-image: linear-gradient(top, #2d7dc5, #1a4872);
      }
      .sticky {
        border-color: #888;
        border-color: rgba(0,0,0,.3);
        -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
        -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
        color: #444;
        color: rgba(0,0,0,.8);
        background: url("../images/int/bg-tags-tk.png") repeat fixed -20% top #00B5B1;
     }
     .sticky a {
         color: black;
         background: #00B4B1;

     }      
     .sticky a:hover,
     .sticky a:focus {    
        color: #000;
        background: #d97300;
     }   
    
     .skiplinks li a:focus, 
     .skiplinks li a:active {
        background: #2d7dc5;
        color: white;
         }
     .skiplinks li a:hover {
        background: #00B5B1;
        color: black; 
    }
    ul.socialmedia li a img {   
        border-color: #eee;
    }
    ul.socialmedia li a:hover img {
         border-color: white;      
    }
    ul.socialmedia li a:focus img {
       border-color: #00B5B1;    
    }    
    
.sticker ul li {  
    font-family: "FontPiratenkleiderHeadlines",Helvetica,Arial,sans-serif; 
    border-color: transparent;     
  }

  .sticker ul li a {    
        color: #666;       
  }
  .sticker ul li a:hover,
  .sticker ul li a:focus {
    color: #1a4872; 
   } 
   
   .sticker ul li a .cicolor {        
     color: #00B5B1;    
   }
  
   .sticker ul li a:hover .cicolor,
   .sticker ul li a:focus .cicolor {
        color: #2d7dc5;  
   }
   
   .sticker ul li a .shadow {        
         text-shadow: 1px 1px 1px #333; 
   }
  
 
    .sticker li a img {
        border-color: transparent;     
    }

    .sticker li a:hover img, 
    .sticker li a:focus img {
       border-color: #00B5B1;
    }


    .header .newsletter .skin {
      background: #f7f7f7;
      background: rgba(255, 255, 255, 0.5);
    }

  .teaser .row {
    background: #00B4B1;
    background: rgba(0, 0, 0, 0.3) -20% 0 fixed; 
  }
  .teaser .first-teaser-widget-area {
    background: #111;
 }

   .first-teaser-widget-area .slide .textslider  {
    background: #00B4B1;
  } 
    .second-teaser-widget-area li {
      background: #00B5B1;
    }


  .second-teaser-widget-area li a {
    color: white;  
    text-shadow: 0 0 0; 

  }
    .second-teaser-widget-area li a div {
      color: black;
      font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
      text-shadow: 0 -1px 1px #c36800;

    }
   

  .second-teaser-widget-area li a:focus,  
  .second-teaser-widget-area li a:hover {    
        background: #00B4B1;
        background: rgba(0, 0, 0, 0.2);  
        color: white;
  }
  
  .second-teaser-widget-area .textwidget {      
        background: #00B5B1;
        color: white; 
        text-shadow: 0 0 0; 
  }
   .second-teaser-widget-area li.recentcomments {
       color: white;
   }

 .teaserlinks ul li {
    background-color: #00B5B1;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 
  }
 .teaserlinks ul li a {
     color: white;
     font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
     text-shadow: 0 -1px 1px #c36800;
 }
  .teaserlinks ul li a:hover,
  .teaserlinks ul li a:focus{
      color: white;
      background: none repeat scroll 0 0 #00B5B1;
  }
  .teaserlinks ul li a span {
      color: black;
     text-shadow: 0 0 0; 
  }
    .teaserlinks ul li a:hover span,
    .teaserlinks ul li a:focus span { 
           color: black;
     }    

    .content .row {
        background: #00B5B1;
        background: rgba(0, 181, 177, 0.7); 
    }
    .content .symbolbild .caption {
      background: transparent;
      background: rgba(0, 0, 0, 0.5);
      color: white;

    }
    .content .symbolbild .aaarh {
         background: transparent;
         color: black;
         font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
    }
  .content-primary input[type="text"]:hover, 
  .content-primary textarea:hover,
  .content-primary input[type="text"]:focus, 
  .content-primary textarea:focus {
    border-color: black; 
    background-color: beige;
  }
   .content-primary .post-nav a {
      font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
     }
      .content-primary .sprungmarken ol li a:hover {
          background: #00B5B1;
          color: black;
        }
  .content-aside .newsletter {     
    background-color: #ffa500;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 } 

  .post .post-info .commentbubble a {
      background: #00B5B1;
      color: black;
 }
  .post .post-info .cal-icon {
    background: #eeeeee;
    -moz-box-shadow: 1px 1px 2px #444444;
    -webkit-box-shadow: 1px 1px 2px #444444;
    box-shadow: 1px 1px 2px #444444; 
  }

    .post .post-info .cal-icon .day {
        font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
    }
    .post .post-meta {
         color: #222;
    }
    .post-comments ol li .reply a {
        background: #2d7dc5;
        color: white;
        border-color: #2d7dc5;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
        text-shadow: 0 -1px 0 #112e48;
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
        background-image: linear-gradient(top, #2d7dc5, #24639b); 
    }
    .post-comments ol li .reply a:hover {
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
        background-image: linear-gradient(top, #2d7dc5, #1a4872);
    }

    .post-comments .respond span.required {
         color: #00B5B1;
    }
  .wp-caption  p.wp-caption-text { 
      background: transparent;
      background: rgba(0, 0, 0, 0.5);
      color: white;
    }
    
     .gallery img {
	border-color: #f1f1f1;
    }
    .gallery img:hover {
            border-color: #00B5B1;
    }
     .gallery-caption {
            color: #888;
    }

    .first-startpage-widget-area li a {
      font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
      }
     .first-startpage-widget-area a.all-articles {
        background: #2d7dc5;
        color: white;
        border-color: #2d7dc5;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
        border-top-color: #4e96d7;
        border-bottom-color: #1a4872;
        text-shadow: 0 -1px 0 #112e48;
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
        background-image: linear-gradient(top, #2d7dc5, #24639b);
     }
    .first-startpage-widget-area a.all-articles:hover {
      background-color: #2d7dc5;
      background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
      background-image: linear-gradient(top, #2d7dc5, #1a4872);
 }
 
 .content-aside a {
  color: black;
  background: #00B4B1;
}
  .content-aside a:hover {
    color: #000;
    background: rgba(0, 0, 0, 0.2); 
  }
  
  .content-aside table td,
  .content-aside table th {
    border-top-color: #00B5B1; 
  }
.content-aside blockquote {
  border: 0 solid;
  background: #00B4B1;
  background: rgba(0, 0, 0, 0.2);
 }
  
 
 .content-aside ul.menu {
  background: #00B4B1;
  background: rgba(0, 0, 0, 0.2);
}

.content-aside ul.menu li a {

      background: white;
      color: #2d7dc5;
 }
.content-aside ul.menu li.active a,
.content-aside ul.menu li a:hover,
.content-aside ul.menu li a:focus {
        color: white;
        background: #2d7dc5; 
}
      
.content-aside ul.menu li.current_page_item > a,
.content-aside ul.menu li.current-menu-item > a {
    background: #2d7dc5 url("../images/plus-left.gif") center left no-repeat;
    color: white;
}


.subcontent {
  background: black url("../images/int/bg-tags_gray.jpg") -20% top fixed;
}
  .subcontent .row {
    background: rgba(0, 0, 0, 0.2);
    color: #eeeeee;
  }

  .subcontent a {
    background: black;
    color: #2d7dc5;
 }
    .subcontent a:hover {
      background: #2d7dc5;
      color: white;
 }


    
    
    
.footer {
  background: black url("../images/int/bg-tags_gray.jpg") -20% top fixed;
  overflow: hidden; 
}
.footer .row {
    background: rgba(0, 0, 0, 0.2);
    color: #eeeeee;
}

.footer a {
  background: black;
  color: #2d7dc5; 
}

.footer a:hover {
  background: #2d7dc5;
  color: white;
}
 .content-aside .widget li a.rsswidget {
    background: #00B4B1;
    background: rgba(0, 0, 0, 0.2);
 }
 .content-aside .widget li a.rsswidget:hover,
 .content-aside .widget li a.rsswidget:focus {
       background: #00B5B1;
 }
 .content-aside .widget li .rssSummary {
    color:#333333;  
 }

#ics-calendar-widget li {
    color: black;
    background: #00B4B1;
    background: rgba(0, 0, 0, 0.2);
 }

#ics-calendar-widget-next, 
#ics-calendar-widget-prev {
  background: #2d7dc5;
  color: white;
  border-color: #2d7dc5;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  border-top-color: #4e96d7;
  border-bottom-color: #1a4872;

  text-shadow: 0 -1px 0 #112e48;
  background-color: #2d7dc5;
  background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
  background-image: linear-gradient(top, #2d7dc5, #24639b); }
#ics-calendar-widget-next:hover, 
#ics-calendar-widget-prev:hover {
    background-color: #2d7dc5;
    background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
    background-image: linear-gradient(top, #2d7dc5, #1a4872);
}


 .ics-calendar-header a {
    background: #2d7dc5;
    color: white;
    border-color: #2d7dc5;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
    border-top-color: #4e96d7;
    border-bottom-color: #1a4872;
    text-shadow: 0 -1px 0 #112e48;
    background-color: #2d7dc5;
    background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
    background-image: linear-gradient(top, #2d7dc5, #24639b); }
  .ics-calendar-header a:hover {
      background-color: #2d7dc5;
      background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
      background-image: linear-gradient(top, #2d7dc5, #1a4872);
   }

div.ics-calendar-holder tr.ics-calendar-days td {
  background: #eeeeee;
  border-bottom-color: gray; }

div.ics-calendar-holder .ics-calendar-table td .date-holder {
  background: white; 
}
div.ics-calendar-holder .ics-calendar-table td .old-date-holder {
  background: white;
  color: #999999;
}
div.ics-calendar-holder .ics-calendar-table td .ics-calendar-today {
  background-color: #00B5B1;
  color: black;
}
div.ics-calendar-holder .ics-calendar-event {
  background: #2d7dc5;
  color: white;
}

  .nav-top div.menu-header ul.menu li a:hover,
  .nav-top div.menu-header ul.menu li a:focus {
        color: #2d7dc5; 
  }        

  .content-aside {
      background: #00B5B1 url("../images/int/bg-tags-tk.png") -20% top fixed; 
   }

  .content-aside .skin {
           background: #00B5B1;
           background: rgba(0, 181, 177, 0.7); 
    }
   
}
 @media only screen and (max-width: 600px) {
   .nav-top ul.menu li a {
        background: #2d7dc5;
        color: white;        
        border-color: #00B4B1;
        text-shadow: 0 -1px 0 #00B4B1;
        background-color: #00B5B1;     
   }
    .nav-top ul.menu li a:hover {
      background: #24639b;
    }
    
    .nav-main ul.menu li a {
        color: white;
        border-color: #2d7dc5;
        border-top-color: #4e96d7;
        border-bottom-color: #1a4872;
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
        background-image: linear-gradient(top, #2d7dc5, #24639b);
  }

  .nav-main ul.menu li a:hover {
      background: #4e96d7;
    }
 .nav-main ul.menu li a:focus, 
 .nav-main ul.menu li a:hover {
      background: #24639b;
      color: black; 
 }        
           
  .post-comments {
     background: url("../images/int/bg-tags-tk.png") repeat fixed -20% top #00B5B1;
  }
  .post-comments a {
      color: black;
  }
  .post-comments ol li {
      border-color: rgba(0, 0, 0, 0.2);
  }
   .post-comments ol li .comment-details {
    color: #222222;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
 }
 .post-comments ol li .comment-body {
    background: white; 
 }
    
 }