/* 
    Document   : custom-login
    Created on : 08.05.2012, 17:41:55
    Author     : Manager
    Description:
        Piratiger  Loginscreen
*/



  


body.login  {
    border-top-color:#dff4fc;
    background: orange url(../assets/bg-tags.png) 0 0;
 
}	/* Top bar background color */

.login h1 a {	/* Title image (The "WordPress Logo"). Remember to update the height and width your image's dimensions */
    background: rgba(0, 0, 0, 0.1) url(../images/logo.png) 30px 5px no-repeat;
    margin: auto;
  
   border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  width: auto;
} 

.login form {
    margin: auto;   
    width: 260px;
    background: none no-repeat left bottom rgba(0, 0, 0, 0.3);
    border: 2px solid  rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    
}
.login label {
        color: black;
}
.login p#backtoblog,
.login p#nav {
     background: none repeat fixed -20% 0 rgba(0, 0, 0, 0.1); 
    width: auto;
    text-shadow: none;
    margin: 0;
}
.login p#backtoblog a:visited {color:black;}	/* Link effects in top bar */
.login p#backtoblog a:hover,
.login p#backtoblog a:active {color:black;
        text-decoration:underline;}	/* Rollover link effects in top bar */


.login #nav a, .login #backtoblog a {
    color: black !important;
}