/*
 
    Created on : 09.11.2013, 14:48:15
  

    Description:
    Flaschenpost Design
        

*/
@media screen, projection {
    body { 
      background: white;
 }

    a {     
      color: #06C;
      -webkit-tap-highlight-color: #2d7dc5; 
    }
    a:visited {
        color: #2d7dc5;
      }
    a:hover {
        color: #111;
      }
    ins, mark {
        background-color: #FFFFFF;
    }
    ::selection {
      background: #aedee4;
      color: black; 
    }
    ::-moz-selection {
      background: #aedee4;
      color: black;
    }
    input, select, textarea {
      background: white;
      background: rgba(255, 255, 255, 0.6); 
    }
    input:focus, input:active, 
    select:focus, select:active, 
    textarea:focus, textarea:active {
        background: white; 
    }
    
    button, input[type="submit"], 
    .post-edit-link {
      background: #aedee4;
      color: black;
      border: 1px solid #2d7dc5;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
      border-top: 1px solid #4e96d7;
      border-bottom: 1px solid #1a4872;
      text-shadow: 0 -1px 0 #112e48;
      background-color: #aedee4;
      background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
      background-image: linear-gradient(top, #2d7dc5, #24639b); }
      button:hover, 
      input[type="submit"]:hover, 
      .post-edit-link:hover {
        background-color: #aedee4;
        background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
        background-image: linear-gradient(top, #2d7dc5, #1a4872);
      }
      .sticky {
        border-color: #888;
        border-color: rgba(0,0,0,.3);
        -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
        -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
        color: #444;
        color: rgba(0,0,0,.8);
        background: #FFFFFF;
     }
     .sticky a {
         color: black;
         background: #FFFFFF;
     }
     .sticky a:visited {
         color: black;
         background: #FFFFFF;
     }      
     .sticky a:hover,
     .sticky a:focus {    
        color: #000;
        background: #aedee4;
     }   
    
     .skiplinks li a:focus, 
     .skiplinks li a:active {
        background: #aedee4;
        color: black;
         }
     .skiplinks li a:hover {
        background: #FFFFFF;
        color: black; 
    }
    ul.socialmedia li a img {   
        border-color: #eee;
    }
    ul.socialmedia li a:hover img {
         border-color: white;      
    }
    ul.socialmedia li a:focus img {
       border-color: #FFFFFF;    
    } 

    .content-header-big {
    background: none;
    height: 240px;
    overflow: hidden;
    position: relative;
} 

.slide .caption h3 a:hover {
background: #000000; 
 } 

 .breadcrumbs .current {  
  color: #ffffff;
 }  

    
.sticker ul li {  
    font-family: "FontPiratenkleiderHeadlines",Helvetica,Arial,sans-serif; 
    border-color: transparent;     
  }
  .sticker ul li a {    
        color: #666;       
  }
  .sticker ul li a:hover,
  .sticker ul li a:focus {
    color: #1a4872; 
   } 
   
   .sticker ul li a .cicolor {        
     color: black;    
   }
  
   .sticker ul li a:hover .cicolor,
   .sticker ul li a:focus .cicolor {
        color: #2d7dc5;  
   }
   
   .sticker ul li a .shadow {        
         text-shadow: 1px 1px 1px #333; 
   }
  
 
    .sticker li a img {
        border-color: transparent;     
    }
    .sticker li a:hover img, 
    .sticker li a:focus img {
       border-color: #FFFFFF;
    }
    .header .newsletter .skin {
      background: #f7f7f7;
      background: rgba(255, 255, 255, 0.5);
    }
  .teaser {
    background: #FFFFFF url("../images/int/bg-tags-tk.png") -20% top fixed; 
    }
  .teaser .row {
    background: #FFFFFF;
    background: rgba(0, 0, 0, 0.3) -20% 0 fixed; 
  }
  .teaser .first-teaser-widget-area {
    background: #111;
 }
   .first-teaser-widget-area .slide .textslider  {
    background: white;
  } 
    .second-teaser-widget-area li {
      background: #FFFFFF;
    }
  .second-teaser-widget-area li a {
    color: black;  
    text-shadow: 0 0 0; 
  }
    .second-teaser-widget-area li a div {
      color: black;
      font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
      text-shadow: 0 -1px 1px #aedee4;
    }
   
  .second-teaser-widget-area li a:focus,  
  .second-teaser-widget-area li a:hover {    
        background: #FFFFFF;
        background: rgba(0, 0, 0, 0.2);  
        color: black;
  }
  
  .second-teaser-widget-area .textwidget {      
        background: #FFFFFF;
        color:black; 
        text-shadow: 0 0 0; 
  }
   .second-teaser-widget-area li.recentcomments {
       color: black;
   }
 .teaserlinks ul li {
    background-color: #a5dff9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 
  }
 .teaserlinks ul li a {
     color: black;
     font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
     text-shadow: none;
 }
  .teaserlinks ul li a:hover,
  .teaserlinks ul li a:focus{
      color: black;
      background: none repeat scroll 0 0 #FFFFFF;
  }
  .teaserlinks ul li a span {
      color: black;
     text-shadow: 0 0 0; 
  }
    .teaserlinks ul li a:hover span,
    .teaserlinks ul li a:focus span { 
           color: black;
     }    
    .content {
     background: #FFFFFF url("../images/int/bg-tags-tk.png") -20% top fixed;  
    }
    .content .row {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 0.7); 
    }
    .content .symbolbild .caption {
      background: transparent;
      background: rgba(0, 0, 0, 0.5);
      color: black;
    }
    .content .symbolbild .aaarh {
         background: transparent;
         color: black;
         font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
    }
  .content-primary input[type=\"text\"]:hover, 
  .content-primary textarea:hover,
  .content-primary input[type=\"text\"]:focus, 
  .content-primary textarea:focus {
    border-color: black; 
    background-color: beige;
  }
   .content-primary .post-nav a {
      font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
     }
      .content-primary .sprungmarken ol li a:hover {
          background: #FFFFFF;
          color: black;
        }
  .content-aside .newsletter {     
    background-color: #a5dff9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 } 
  .post .post-info .commentbubble a {
      background: #FFFFFF;
      color: black;
 }
  .post .post-info .cal-icon {
    background: #eeeeee;
    -moz-box-shadow: 1px 1px 2px #444444;
    -webkit-box-shadow: 1px 1px 2px #444444;
    box-shadow: 1px 1px 2px #444444; 
  }
    .post .post-info .cal-icon .day {
        font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
    }
    .post .post-meta {
         color: #222;
    }
    .post-comments ol li .reply a {
        background: #2d7dc5;
        color: black;
        border-color: #2d7dc5;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
        text-shadow: 0 -1px 0 #112e48;
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
        background-image: linear-gradient(top, #2d7dc5, #24639b); 
    }
    .post-comments ol li .reply a:hover {
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
        background-image: linear-gradient(top, #2d7dc5, #1a4872);
    }
    .post-comments .respond span.required {
         color: #black;
    }
  .wp-caption  p.wp-caption-text { 
      background: transparent;
      background: rgba(0, 0, 0, 0.5);
      color: black;
      top: +0.1em;
    }



     .gallery img {
    border-color: #f1f1f1;
    }
    .gallery img:hover {
            border-color: #FFFFFF;
    }
     .gallery-caption {
            color: #888;
    }
    .first-startpage-widget-area li a {
      font-family: "FontPiratenkleiderHeadlines", Helvetica, Arial, sans-serif;
      }
     .first-startpage-widget-area a.all-articles {
        background: #2d7dc5;
        color: black;
        border-color: #2d7dc5;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
        border-top-color: #4e96d7;
        border-bottom-color: #1a4872;
        text-shadow: 0 -1px 0 #112e48;
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
        background-image: linear-gradient(top, #2d7dc5, #24639b);
     }
    .first-startpage-widget-area a.all-articles:hover {
      background-color: #2d7dc5;
      background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
      background-image: linear-gradient(top, #2d7dc5, #1a4872);
 }
 
 .content-aside a {
  color: black;
  background: #FFFFFF;
}
  .content-aside a:hover {
    color: #000;
    background: rgba(192, 192, 192, 0.2); 
  }
  
  .content-aside table td,
  .content-aside table th {
    border-top-color: #FFFFFF; 
  }
.content-aside blockquote {
  border: 0 solid;
  background: #FFFFFF;
  background: rgba(0, 0, 0, 0.2);
 }
  
 
 .content-aside ul.menu {
  background: #FFFFFF;
  background: rgba(0, 0, 0, 0.2);
}
.content-aside ul.menu li a {
      background: white;
      color: #2d7dc5;
 }
.content-aside ul.menu li.active a,
.content-aside ul.menu li a:hover,
.content-aside ul.menu li a:focus {
        color: 464646;
        background: #aedee4; 
}
      
.content-aside ul.menu li.current_page_item > a,
.content-aside ul.menu li.current-menu-item > a {
    background: #aedee4 url("../images/plus-left.gif") center left no-repeat;
    color: black;
}
.subcontent {
  background: black url("../images/int/bg-tags_gray.jpg") -20% top fixed;
}
  .subcontent .row {
    background: rgba(0, 0, 0, 0.2);
    color: #eeeeee;
  }
  .subcontent a {
    background: black;
    color: #2d7dc5;
 }
    .subcontent a:hover {
      background: #2d7dc5;
      color: black;
 }
    
    
    
.footer {
  background: black url("../images/int/bg-tags_gray.jpg") -20% top fixed;
  overflow: hidden; 
}
.footer .row {
    background: rgba(0, 0, 0, 0.2);
    color: #eeeeee;
}
.footer a {
  background: black;
  color: #2d7dc5; 
}
.footer a:hover {
  background: #aedee4;
  color: black;
}

.content-aside .widget li:hover,
.content-aside .widget li:focus,
#ics-calendar-widget li:hover,
#ics-calendar-widget li:focus, 
.content-aside .twitterwidget li:hover, 
.content-aside .twitterwidget li:focus {
background: #b7d8f6; 

}

 .content-aside .widget li a.rsswidget {
    background: #FFFFFF;
    background: rgba(0, 0, 0, 0.2);
 }
 .content-aside .widget li a.rsswidget:hover,
 .content-aside .widget li a.rsswidget:focus {
       background: #FFFFFF;
 }
 .content-aside .widget li .rssSummary {
    color:#333333;  
 }
#ics-calendar-widget li {
    color: black;
    background: #aedee4;
    background: rgba(0, 0, 0, 0.2);
 }
#ics-calendar-widget-next, 
#ics-calendar-widget-prev {
  background: #2d7dc5;
  color: black;
  border-color: #2d7dc5;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  border-top-color: #4e96d7;
  border-bottom-color: #1a4872;
  text-shadow: 0 -1px 0 #112e48;
  background-color: #aedee4;
  background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
  background-image: linear-gradient(top, #2d7dc5, #24639b); }
#ics-calendar-widget-next:hover, 
#ics-calendar-widget-prev:hover {
    background-color: #aedee4;
    background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
    background-image: linear-gradient(top, #2d7dc5, #1a4872);
}
 .ics-calendar-header a {
    background: #aedee4;
    color: black;
    border-color: #2d7dc5;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
    border-top-color: #4e96d7;
    border-bottom-color: #1a4872;
    text-shadow: 0 -1px 0 #112e48;
    background-color: #aedee4;
    background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
    background-image: linear-gradient(top, #2d7dc5, #24639b); }
  .ics-calendar-header a:hover {
      background-color: #aedee4;
      background-image: -moz-linear-gradient(top, #2d7dc5, #1a4872);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #1a4872));
      background-image: linear-gradient(top, #2d7dc5, #1a4872);
   }
div.ics-calendar-holder tr.ics-calendar-days td {
  background: #eeeeee;
  border-bottom-color: gray; }
div.ics-calendar-holder .ics-calendar-table td .date-holder {
  background: white; 
}
div.ics-calendar-holder .ics-calendar-table td .old-date-holder {
  background: white;
  color: #999999;
}
div.ics-calendar-holder .ics-calendar-table td .ics-calendar-today {
  background-color: #FFFFFF;
  color: black;
}
div.ics-calendar-holder .ics-calendar-event {
  background: #aedee4;
  color: black;
}
  .nav-top div.menu-header ul.menu li a:hover,
  .nav-top div.menu-header ul.menu li a:focus {
        color: #2d7dc5; 
  }        
  .content-aside {
      background: #FFFFFF url("../images/int/bg-tags-tk.png") -20% top fixed; 
   }
  .content-aside .skin {
           background: #FFFFFF;
           background: rgba(255, 255, 255, 0.7); 
    }
   
}
 @media only screen and (max-width: 600px) {
   .nav-top ul.menu li a {
        background: #2d7dc5;
        color: black;        
        border-color: #FFFFFF;
        text-shadow: 0 -1px 0 #FFFFFF;
        background-color: #FFFFFF;     
   }
    .nav-top ul.menu li a:hover {
      background: #24639b;
    }
    
    .nav-main ul.menu li a {
        color: black;
        border-color: #2d7dc5;
        border-top-color: #4e96d7;
        border-bottom-color: #1a4872;
        background-color: #2d7dc5;
        background-image: -moz-linear-gradient(top, #2d7dc5, #24639b);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d7dc5), color-stop(1, #24639b));
        background-image: linear-gradient(top, #2d7dc5, #24639b);
  }
  .nav-main ul.menu li a:hover {
      background: #4e96d7;
    }
 .nav-main ul.menu li a:focus, 
 .nav-main ul.menu li a:hover {
      background: #24639b;
      color: black; 
 }        
           
  .post-comments {
     background:#FFFFFF;
  }
  .post-comments a {
      color: black;
  }
  .post-comments ol li {
      border-color: rgba(0, 0, 0, 0.2);
  }
   .post-comments ol li .comment-details {
    color: #222222;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
 }
 .post-comments ol li .comment-body {
    background: white; 
 }
    
 }
