@font-face {
  font-family: 'FontPiratenkleiderHeadlines';
  src: url("../fonts/PoliticsHeadv1_9.woff") format("woff"), url("../fonts/PoliticsHeadv1_9.eot?#iefix") format("embedded-opentype"), url("../fonts/PoliticsHeadv1_9.ttf") format("truetype");   
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'FontPiratenkleiderDefault';
  font-weight: normal;
  font-style: normal; 
}



