/* 
    Document   : font-droid.css
    Created on : 30.08.2012, 13:31:28
    Author     : xwolf
    Description:
      Font-Face Definition: Droid font
}
*/

@font-face {
  font-family: 'FontPiratenkleiderHeadlines';
   src: url("../fonts/DroidSans.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; 
}
@font-face {
  font-family: 'FontPiratenkleiderDefault';
   src: url("../fonts/DroidSans.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}


