
@media print {
	
	body {
		font-size: 10pt;
		padding: 0 5px;
	}

	nav,
	.p3-searchform {
		display:none;
	}


	h1,h2,h3,h4,h5,h6 {
		page-break-after:avoid;
	}

	abbr[title]:after,
	acronym[title]:after {
		content:'(' attr(title) ')';
	}

	
	.content-primary .post .post-entry a[href]:after {
		content: " <URL: "attr(href) ">";
		color:#444;
		background:inherit;
		font-style:italic;
	}
	.post-info a[href]:after,
        .post-meta a[href]:after,
        .post-comments a[href]:after,
        .post-title h2 a[href]:after,
        .tagcloud a[href]:after, 
        .content .content-aside a[href]:after {
		content:"";
	}
        .teaser,	
	.breadcrumbs, 
        .newsletter,
        .nav-top,
        .nav-main, 
        .flexslider,
        .sticker, 
        .symbolbild,
	.startpage-widget-area, 
	.switchon, .switchoff,
	.content-primary .post-nav, 	
	#socialmedia_iconbar,
        #respond {
            display: none;
        }
        .header {
            background: white !important;
	    background-image: none !important;
            border-bottom: 1px solid #000;
            margin: 0;
            padding: 10px;
	    position: relative;
	    display: block;
	    float: none;
	    height: auto;
	    width: auto;
        }
        .header .branding {
            margin: 0;
            padding: 0;
            height: auto;
	    float: none;
	    display: block;
        }
	.row {
	    max-width: inherit;
	    margin: 0;
	    padding: 0;
	    display: inherit;
	    position: relative;
	}
	.content, 
        .content-primary,
	.content-aside,
        .content-aside .skin {
             width: 100%;
	     margin: 0;
	     position: relative;
	     display: block;
	     float: none;
	     background-image: none;
	     background-color: white;
	     height: auto;
	     min-height:  inherit; 
         }
	 .post {
	     position: relative;
	 }
	 .section {
	     padding: 0;
	 }

        .post-comments ol li .reply {
            display: none;
        }
            
        .footer  { 
                color: #999; 
                text-align: center; 
                font-size: 10pt;                 
                width: 100%;
		border-top: 1px solid #CCC; 
		position: relative;
		background-image: none;
	        background-color: #eee;
          }
	  .footer .row {
	      background-image: none;
	        background-color: #eee;
	  }
	  .first-footer-widget-area, 
	  .second-footer-widget-area {
	      display: block;
	      float: none;
	      width: 100%;
	  }
	  .footer a {
	      color: black;
	      background: #eee;	      
	  }
}