.ie6 .newsletter #newslettersubmit, .ie7 .newsletter #newslettersubmit {
  top: 18px;
  padding: 3px 5px; }
.ie6 .nav-top #s, .ie7 .nav-top #s {
  width: 90% !important; }
.ie6 .nav-top #searchsubmit, .ie7 .nav-top #searchsubmit {
  margin-top: -1px; }
.ie6 .nav-main .sub-menu, .ie7 .nav-main .sub-menu {
  display: none !important; }
.ie6 hr, .ie7 hr {
  background: #fff;
  height: 1px;
  margin-bottom: 20px; }
.ie6 .nav-main ul.menu li.menu-item-home a, .ie7 .nav-main ul.menu li.menu-item-home a {
  width: 10px; }
.ie6 .columns, .ie7 .columns {
  width: 100% !important; }
  .ie6 .columns .column1, .ie7 .columns .column1 {
    width: 100% !important;
    float: left !important; }
    .ie6 .columns .column1 .post, .ie7 .columns .column1 .post {
      padding: 0 0 20px 0 !important; }
  .ie6 .columns .column2, .ie7 .columns .column2 {
    width: 100% !important;
    float: left !important; }
    .ie6 .columns .column2 .post, .ie7 .columns .column2 .post {
      padding: 0 0 20px 0 !important; }
.ie6 .single .post-info, .ie7 .single .post-info {
  display: none; }

.ie7 .nav-top ul, .ie8 .nav-top ul {
  display: block; }
.ie7 .nav-top, .ie8 .nav-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30px; }
  .ie7 .nav-top a, .ie8 .nav-top a {
    height: 30px;
    display: block; }
  .ie7 .nav-top ul.socialmedia, .ie8 .nav-top ul.socialmedia {
    float: right; }
  .ie7 .nav-top div.menu-header, .ie8 .nav-top div.menu-header {
    float: right; }
    .ie7 .nav-top div.menu-header ul.menu, .ie8 .nav-top div.menu-header ul.menu {
      overflow: hidden; }
      .ie7 .nav-top div.menu-header ul.menu li, .ie8 .nav-top div.menu-header ul.menu li {
        float: left; }
        .ie7 .nav-top div.menu-header ul.menu li a, .ie8 .nav-top div.menu-header ul.menu li a {
          line-height: 30px;
          padding: 0 10px;
          color: black; }
          .ie7 .nav-top div.menu-header ul.menu li a:hover, .ie8 .nav-top div.menu-header ul.menu li a:hover {
            color: #2d7dc5; }
  .ie7 .nav-top form#searchform, .ie8 .nav-top form#searchform {
    float: right !important;
    width: 200px;
    height: 30px;
    padding: 3px 5px 0 5px; }
    .ie7 .nav-top form#searchform #s, .ie8 .nav-top form#searchform #s {
      line-height: 18px;
      width: 100%; }
    .ie7 .nav-top form#searchform #searchsubmit, .ie8 .nav-top form#searchform #searchsubmit {
      top: 3px;
      right: 3px;
      padding: 0;
      width: 24px;
      height: 24px; }
    .ie7 .nav-top form#searchform input, .ie8 .nav-top form#searchform input {
      padding: 2px; }
.ie7 .sticker, .ie8 .sticker {
  position: absolute;
  top: 50px;
  right: 8%; }
  .ie7 .sticker .skin, .ie8 .sticker .skin {
    padding: 10px; }
.ie7 .header .branding, .ie8 .header .branding {
  padding-top: 40px;
  padding-bottom: 20px; }
.ie7 .header .newsletter, .ie8 .header .newsletter {
  float: right;
  width: 33.3333%;
  margin: 0; }
  .ie7 .header .newsletter .skin, .ie8 .header .newsletter .skin {
    background: #f7f7f7; }
    .ie7 .header .newsletter .skin form, .ie8 .header .newsletter .skin form {
      padding-bottom: 5px; }
      .ie7 .header .newsletter .skin form input[type="text"], .ie8 .header .newsletter .skin form input[type="text"] {
        float: left;
        width: 90%;
        margin-bottom: 0px; }
.ie7 .nav-main, .ie8 .nav-main {
  position: absolute;
  bottom: 0; }
  .ie7 .nav-main ul.menu, .ie8 .nav-main ul.menu {
    float: left; }
    .ie7 .nav-main ul.menu li, .ie8 .nav-main ul.menu li {
      float: left; }
      .ie7 .nav-main ul.menu li a, .ie8 .nav-main ul.menu li a {
        color: black;
        font-family: "BebasNeueRegular", Helvetica, Arial, sans-serif;
        font-weight: lighter;
        font-size: 21.6px;
        letter-spacing: 1px;
        padding: 12px 10px 10px 10px;
        border-bottom: 0; }
        .ie7 .nav-main ul.menu li a:hover, .ie8 .nav-main ul.menu li a:hover {
          color: #2d7dc5; }
    .ie7 .nav-main ul.menu li.menu-item-home a, .ie8 .nav-main ul.menu li.menu-item-home a {
      padding-left: 25px;
      padding-right: 25px;
      text-indent: -999em;
      background: url("assets/home.gif") no-repeat center 10px !important; }
      .ie7 .nav-main ul.menu li.menu-item-home a:hover, .ie8 .nav-main ul.menu li.menu-item-home a:hover {
        background: white url("assets/home.gif") no-repeat center 10px !important; }
    .ie7 .nav-main ul.menu li.current-menu-item.menu-item-home a, .ie8 .nav-main ul.menu li.current-menu-item.menu-item-home a {
      background: #111111 url("assets/home.gif") no-repeat center -107px !important; }
      .ie7 .nav-main ul.menu li.current-menu-item.menu-item-home a:hover, .ie8 .nav-main ul.menu li.current-menu-item.menu-item-home a:hover {
        background: #111111 url("assets/home.gif") no-repeat center 10px !important; }
    .ie7 .nav-main ul.menu li.has_children:hover, .ie8 .nav-main ul.menu li.has_children:hover {
      background: white; }
      .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu {
        top: 40px;
        background: white;
        width: 200px;
        padding: 5px 0;
        border-bottom: 1px solid; }
        .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li.current-menu-item a, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li.current-menu-item a {
          background: white;
          color: black; }
        .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu hr, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu hr {
          margin: 0 !important; }
        .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li {
          float: none;
          position: relative; }
          .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li a, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li a {
            font-family: Helvetica, Arial, sans-serif;
            letter-spacing: 0;
            font-size: 12px;
            padding: 2px 18px; }
            .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li a:hover, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li a:hover {
              background: #2d7dc5;
              color: white; }
          .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li ul.sub-menu, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li ul.sub-menu {
            top: -999em; }
        .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li.has_children a, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li.has_children a {
          background: url("assets/plus_black.gif") center right no-repeat; }
          .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li.has_children a:hover, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li.has_children a:hover {
            background: #2d7dc5 url("assets/plus.gif") center right no-repeat; }
        .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li.has_children ul.sub-menu li a, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li.has_children ul.sub-menu li a {
          background: white !important; }
          .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li.has_children ul.sub-menu li a:hover, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li.has_children ul.sub-menu li a:hover {
            background: #2d7dc5 !important; }
        .ie7 .nav-main ul.menu li.has_children:hover ul.sub-menu li:hover ul.sub-menu, .ie8 .nav-main ul.menu li.has_children:hover ul.sub-menu li:hover ul.sub-menu {
          top: -5px;
          left: 190px; }
    .ie7 .nav-main ul.menu li.current-menu-item > a, .ie8 .nav-main ul.menu li.current-menu-item > a {
      background: black;
      color: white; }
    .ie7 .nav-main ul.menu li.current-menu-item:hover > a, .ie8 .nav-main ul.menu li.current-menu-item:hover > a {
      background: white;
      color: black; }
.ie7 .second-teaser-widget-area .skin ul li a, .ie8 .second-teaser-widget-area .skin ul li a {
  padding: .8em 10px .3em 50px; }
.ie7 .teaser .first-teaser-widget-area, .ie8 .teaser .first-teaser-widget-area {
  width: 66.6666%; }
.ie7 .teaser .second-teaser-widget-area, .ie8 .teaser .second-teaser-widget-area {
  width: 33.3333%; }
.ie7 .content-primary, .ie8 .content-primary {
  float: left;
  width: 66.6666%; }
  .ie7 .content-primary .first-startpage-widget-area, .ie8 .content-primary .first-startpage-widget-area {
    width: 50%;
    float: left;
    padding-top: 10px; }
    .ie7 .content-primary .first-startpage-widget-area .skin, .ie8 .content-primary .first-startpage-widget-area .skin {
      padding-right: 10px; }
  .ie7 .content-primary .second-startpage-widget-area, .ie8 .content-primary .second-startpage-widget-area {
    width: 50%;
    float: right;
    padding-top: 10px; }
    .ie7 .content-primary .second-startpage-widget-area .skin, .ie8 .content-primary .second-startpage-widget-area .skin {
      padding-left: 10px; }
.ie7 .content-aside, .ie8 .content-aside {
  float: right;
  width: 33.3333%; }
.ie7 .columns .column1, .ie8 .columns .column1 {
  width: 50%; }
  .ie7 .columns .column1 .post, .ie8 .columns .column1 .post {
    padding-right: 20px; }
.ie7 .columns .column2, .ie8 .columns .column2 {
  width: 50%; }
  .ie7 .columns .column2 .post, .ie8 .columns .column2 .post {
    padding-left: 20px; }
    .ie7 .columns .column2 .post .cal-icon, .ie8 .columns .column2 .post .cal-icon {
      margin-left: 0; }
.ie7 .first-subcontent-widget-area, .ie8 .first-subcontent-widget-area {
  float: left;
  width: 33.3333%; }
.ie7 .second-subcontent-widget-area, .ie8 .second-subcontent-widget-area {
  float: left;
  width: 33.3333%; }
.ie7 .third-subcontent-widget-area, .ie8 .third-subcontent-widget-area {
  float: right;
  width: 33.3333%; }
.ie7 .first-footer-widget-area, .ie8 .first-footer-widget-area {
  float: left;
  width: 66.6666%; }
.ie7 .second-footer-widget-area, .ie8 .second-footer-widget-area {
  float: right;
  width: 33.3333%; }
.ie7 .newsletter #newslettersubmit, .ie8 .newsletter #newslettersubmit {
  top: 18px;
  padding: 3px 5px; }
.ie7 .nav-top #searchsubmit, .ie8 .nav-top #searchsubmit {
  height: 21px; }

.ie9 .newsletter input[type="submit"] {
  padding: 3px 5px; }
.ie9 #searchform #searchsubmit {
  height: 20px !important; }
